In [1]:
import pandas as pd
data_sampah = pd.read_csv('data_sampah.csv')
data_sampah

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_produksi_sampah,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,1511.15,TON PER HARI,2015
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,419.01,TON PER HARI,2015
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,981.41,TON PER HARI,2015
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,1895.94,TON PER HARI,2015
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,464.74,TON PER HARI,2015
...,...,...,...,...,...,...,...,...
238,239,32,JAWA BARAT,3275,KOTA BEKASI,NaN,TON PER HARI,2023
239,240,32,JAWA BARAT,3276,KOTA DEPOK,NaN,TON PER HARI,2023
240,241,32,JAWA BARAT,3277,KOTA CIMAHI,NaN,TON PER HARI,2023
241,242,32,JAWA BARAT,3278,KOTA TASIKMALAYA,NaN,TON PER HARI,2023
242,243,32,JAWA BARAT,3279,KOTA BANJAR,NaN,TON PER HARI,2023

In [2]:
import pandas as pd

#no.1
data = [
    ('Bandung', 1200, 2022),
    ('Cimahi', 800, 2022),
    ('Bekasi',1500, 2022),
    ('Bandung',1300, 2023),
    ('Cimahi', 900, 2023)
]

df = pd.DataFrame(data, columns=['Kabupaten/Kota', 'Produksi Sampah (ton)', 'Tahun'])

("DataFrame Awal:")
(df)

  Kabupaten/Kota  Produksi Sampah (ton)  Tahun
0        Bandung                   1200   2022
1         Cimahi                    800   2022
2         Bekasi                   1500   2022
3        Bandung                   1300   2023
4         Cimahi                    900   2023

In [3]:
import pandas as pd

# No.1:
data = [
    ('Bandung', 1200, 2022),
    ('Cimahi', 800, 2022),
    ('Bekasi', 1500, 2022),
    ('Bandung', 1300, 2023),
    ('Cimahi', 900, 2023)
]

df = pd.DataFrame(data, columns=['Kabupaten/Kota', 'Produksi Sampah (ton)', 'Tahun'])

("DataFrame Awal:")
(df)

df.to_csv('hasil_akhir1.csv', index=False)
("Data berhasil diekspor ke file CSV: hasil_akhir1.csv")

df.to_excel('hasil_akhir1.xlsx', index=False, engine='openpyxl')
("Data berhasil diekspor ke file Excel: hasil_akhir1.xlsx")

'Data berhasil diekspor ke file Excel: hasil_akhir1.xlsx'

In [4]:
import pandas as pd

# No.2
data = [
    {'Kabupaten/Kota': 'Bandung', 'Produksi Sampah (ton)': 1200, 'Tahun': 2022},
    {'Kabupaten/Kota': 'Cimahi', 'Produksi Sampah (ton)': 800, 'Tahun': 2022},
    {'Kabupaten/Kota': 'Bekasi', 'Produksi Sampah (ton)': 1500, 'Tahun': 2022},
    {'Kabupaten/Kota': 'Bandung', 'Produksi Sampah (ton)': 1300, 'Tahun': 2023},
    {'Kabupaten/Kota': 'Cimahi', 'Produksi Sampah (ton)': 900, 'Tahun': 2023}
]

df = pd.DataFrame(data)

tahun_tertentu = 2023

total_produksi = 0
for index, row in df.iterrows():
    if row['Tahun'] == tahun_tertentu:
        total_produksi += row['Produksi Sampah (ton)']

print(f"Total produksi sampah di Jawa Barat pada tahun {tahun_tertentu}: {total_produksi} ton")

Total produksi sampah di Jawa Barat pada tahun 2023: 2200 ton

In [5]:
import pandas as pd

# No.2
data = [
    {'Kabupaten/Kota': 'Bandung', 'Produksi Sampah (ton)': 1200, 'Tahun': 2022},
    {'Kabupaten/Kota': 'Cimahi', 'Produksi Sampah (ton)': 800, 'Tahun': 2022},
    {'Kabupaten/Kota': 'Bekasi', 'Produksi Sampah (ton)': 1500, 'Tahun': 2022},
    {'Kabupaten/Kota': 'Bandung', 'Produksi Sampah (ton)': 1300, 'Tahun': 2023},
    {'Kabupaten/Kota': 'Cimahi', 'Produksi Sampah (ton)': 900, 'Tahun': 2023}
]

df = pd.DataFrame(data)

tahun_tertentu = 2023

total_produksi = 0
for index, row in df.iterrows():
    if row['Tahun'] == tahun_tertentu:
        total_produksi += row['Produksi Sampah (ton)']

print(f"Total produksi sampah di Jawa Barat pada tahun {tahun_tertentu}: {total_produksi} ton")

hasil_akhir = pd.DataFrame({
    'Tahun': [tahun_tertentu],
    'Total Produksi Sampah (ton)': [total_produksi]
})

hasil_akhir.to_csv('hasil_akhir_total_produksi.csv', index=False)
print("Data hasil akhir berhasil diekspor ke file CSV: hasil_akhir_total_produksi.csv")

hasil_akhir.to_excel('hasil_akhir_total_produksi.xlsx', index=False, engine='openpyxl')
print("Data hasil akhir berhasil diekspor ke file Excel: hasil_akhir_total_produksi.xlsx")

Total produksi sampah di Jawa Barat pada tahun 2023: 2200 ton
Data hasil akhir berhasil diekspor ke file CSV: hasil_akhir_total_produksi.csv
Data hasil akhir berhasil diekspor ke file Excel: hasil_akhir_total_produksi.xlsx

In [6]:
import pandas as pd

# no.3
data = {
    'Kabupaten/Kota': ['Bandung', 'Cimahi', 'Bekasi', 'Bandung', 'Cimahi'],
    'Produksi Sampah (ton)': [1200, 800, 1500, 1300, 900],
    'Tahun': [2022, 2022, 2022, 2023, 2023]
}

df = pd.DataFrame(data)

produksi_per_tahun = {}

for index, row in df.iterrows():
    tahun = row['Tahun']
    produksi = row['Produksi Sampah (ton)']
    
    if tahun in produksi_per_tahun:
        produksi_per_tahun[tahun] += produksi
    else:
        produksi_per_tahun[tahun] = produksi

hasil_tabel = []

for tahun, total in produksi_per_tahun.items():
    hasil_tabel.append({'Tahun': tahun, 'Total Produksi (ton)': total})

df_hasil = pd.DataFrame(hasil_tabel)

("Jumlah produksi sampah per tahun:")
(df_hasil)

   Tahun  Total Produksi (ton)
0   2022                  3500
1   2023                  2200

In [7]:
import pandas as pd

# no.3
data = {
    'Kabupaten/Kota': ['Bandung', 'Cimahi', 'Bekasi', 'Bandung', 'Cimahi'],
    'Produksi Sampah (ton)': [1200, 800, 1500, 1300, 900],
    'Tahun': [2022, 2022, 2022, 2023, 2023]
}

df = pd.DataFrame(data)

produksi_per_tahun = {}

for index, row in df.iterrows():
    tahun = row['Tahun']
    produksi = row['Produksi Sampah (ton)']
    
    if tahun in produksi_per_tahun:
        produksi_per_tahun[tahun] += produksi
    else:
        produksi_per_tahun[tahun] = produksi

hasil_tabel = []

for tahun, total in produksi_per_tahun.items():
    hasil_tabel.append({'Tahun': tahun, 'Total Produksi (ton)': total})

df_hasil = pd.DataFrame(hasil_tabel)

("Jumlah produksi sampah per tahun:")
(df_hasil)

df_hasil.to_csv('jumlah_produksi_per_tahun.csv', index=False)
print("Data berhasil diekspor ke file CSV: jumlah_produksi_per_tahun.csv")

df_hasil.to_excel('jumlah_produksi_per_tahun.xlsx', index=False, engine='openpyxl')
print("Data berhasil diekspor ke file Excel: jumlah_produksi_per_tahun.xlsx")

Data berhasil diekspor ke file CSV: jumlah_produksi_per_tahun.csv
Data berhasil diekspor ke file Excel: jumlah_produksi_per_tahun.xlsx

In [8]:
import pandas as pd

#no.4
data = {
    'Kabupaten/Kota': ['Bandung', 'Cimahi', 'Bekasi', 'Bandung', 'Cimahi'],
    'Produksi Sampah (ton)': [1200, 800, 1500, 1300, 900],
    'Tahun': [2022, 2022, 2022, 2023, 2023]
}

df = pd.DataFrame(data)

produksi_per_kota_tahun = {}

for index, row in df.iterrows():
    kota = row['Kabupaten/Kota']
    tahun = row['Tahun']
    produksi = row['Produksi Sampah (ton)']
    
    if kota not in produksi_per_kota_tahun:
        produksi_per_kota_tahun[kota] = {}
    
    if tahun in produksi_per_kota_tahun[kota]:
        produksi_per_kota_tahun[kota][tahun] += produksi
    else:
        produksi_per_kota_tahun[kota][tahun] = produksi

hasil_tabel = []

for kota, tahun_data in produksi_per_kota_tahun.items():
    for tahun, total in tahun_data.items():
        hasil_tabel.append({'Kabupaten/Kota': kota, 'Tahun': tahun, 'Total Produksi (ton)': total})

df_hasil = pd.DataFrame(hasil_tabel)

("Jumlah produksi sampah per Kota/Kabupaten per tahun:")
(df_hasil)

  Kabupaten/Kota  Tahun  Total Produksi (ton)
0        Bandung   2022                  1200
1        Bandung   2023                  1300
2         Cimahi   2022                   800
3         Cimahi   2023                   900
4         Bekasi   2022                  1500

In [9]:
import pandas as pd

#no.4
data = {
    'Kabupaten/Kota': ['Bandung', 'Cimahi', 'Bekasi', 'Bandung', 'Cimahi'],
    'Produksi Sampah (ton)': [1200, 800, 1500, 1300, 900],
    'Tahun': [2022, 2022, 2022, 2023, 2023]
}

df = pd.DataFrame(data)

produksi_per_kota_tahun = {}

for index, row in df.iterrows():
    kota = row['Kabupaten/Kota']
    tahun = row['Tahun']
    produksi = row['Produksi Sampah (ton)']
    
    if kota not in produksi_per_kota_tahun:
        produksi_per_kota_tahun[kota] = {}
    
    if tahun in produksi_per_kota_tahun[kota]:
        produksi_per_kota_tahun[kota][tahun] += produksi
    else:
        produksi_per_kota_tahun[kota][tahun] = produksi

hasil_tabel = []

for kota, tahun_data in produksi_per_kota_tahun.items():
    for tahun, total in tahun_data.items():
        hasil_tabel.append({'Kabupaten/Kota': kota, 'Tahun': tahun, 'Total Produksi (ton)': total})

df_hasil = pd.DataFrame(hasil_tabel)

("Jumlah produksi sampah per Kota/Kabupaten per tahun:")
(df_hasil)


df_hasil.to_csv('produksi_per_kota_tahun.csv', index=False)
print("Data berhasil diekspor ke file CSV: produksi_per_kota_tahun.csv")

df_hasil.to_excel('produksi_per_kota_tahun.xlsx', index=False, engine='openpyxl')
print("Data berhasil diekspor ke file Excel: produksi_per_kota_tahun.xlsx")

Data berhasil diekspor ke file CSV: produksi_per_kota_tahun.csv
Data berhasil diekspor ke file Excel: produksi_per_kota_tahun.xlsx